/* CSS PÁGINA HOME/INDEX */


/* SEÇÃO BANNER */

.home-banner-section {
    overflow: hidden;
    height: auto;
    padding: 20px;
    color: #FCDA73;
    background-color: #007592;
    background-size: cover;
}

.home-banner-section img {
    max-width: 100%;
    margin-top: 60px;
}

.home-banner-section-texto {
    margin-bottom: 10px;
}

.home-banner-section-texto h4 {
    margin-top: 5px;
    font-size: 2em;
}

.home-banner-section-texto p {
    padding: 5px;
    font-size: 1.3em;
    color: #e5e5e5;
}


/* SEÇÃO CADASTRO */

.home-register-section {
    padding: 5px;
    color: #e5e5e5;
    background-color: #FCDA73;
}

.home-register-section form {
    margin: 10px;
    padding: 10px;
}

.home-register-btn {
    color: #e5e5e5;
    font-weight: bold;
    background-color: #007592;
    border-color: #007592;
}

.home-register-btn:hover {
    color: #007592;
    background-color: #FCDA73;
    border-color: #007592;
}

.atsign-input {
    box-shadow: 0 1px 3px #0000001f, 0 1px 2px #0000003d;
}

.home-register-section input {
    box-shadow: 0 1px 3px #0000001f, 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: all 0.3s cubic-bezier(.25, .8, .25, 1);
}

.home-register-section input:hover {
    box-shadow: 0 14px 28px #00000040, 0 10px 10px #00000038;
}


/* SEÇÃO SOBRE */

.home-about-section {
    overflow: hidden;
    height: auto;
    color: #007592;
    background-color: #e5e5e5;
}

.home-about-section img {
    padding-top: 15px;
    margin: 10px 0px;
    width: 600px;
}

.home-about-section h4 {
    margin-top: 15px;
    font-size: 2em;
    line-height: 36px;
}

.home-about-section p {
    font-size: 1.3em;
    color: #333333;
}


/* SEÇÃO TIME */

.home-team-section {
    overflow: hidden;
    height: auto;
    color: #FCDA73;
    background-color: #007592;
}

.home-team-section img {
    margin-bottom: 20px;
    width: 500px;
}

.home-team-section h3 {
    font-size: 1.7em;
    color: #FCDA73;
}

#logo_banner {
    width: 140px;
    margin: 10px;
}

.home-team-section p {
    font-size: 1.5em;
    margin: 5px;
}


/* ÁREA RESPONSIVA */

@media (max-width: 360px) {
    /* SEÇÃO BANNER */
    .home-banner-section {
        padding: 0%;
    }
    .home-banner-section img {
        padding-top: 15px;
    }
    .home-banner-section-texto h4 {
        margin-left: 30px;
    }
    .home-banner-section p {
        font-size: 1em;
        margin-left: 30px;
        width: 300px;
    }
    /* SEÇÃO CADASTRO */
    .home-register-section form {
        padding: 0px;
    }
    .home-register-section form input {
        width: 245px;
    }
    /* SEÇÃO SOBRE */
    .home-about-section p {
        margin-top: 20px;
        padding: 0px;
        font-size: 1em;
    }
    .home-about-section img {
        padding: 0px;
        width: 400px;
    }
    /* SEÇÃO TIME */
    img .worker {
        width: 300px;
    }
    .home-team-section h3 {
        font-size: 1.2em;
    }
    .home-team-section p {
        font-size: 1.2em;
    }
}

@media (max-width: 529px) {
    /* SEÇÃO CADASTRO */
    .home-register-section form {
        padding: 0px;
    }
    .home-register-section form input {
        width: 245px;
    }
    .btn-primary {
        margin: 0px 100px;
    }
}

@media (min-width: 600px) and (max-width: 768px) {
    /* SEÇÃO CADASTRO */
    .home-register-section form input {
        width: 180px;
    }
    /* SEÇÃO SOBRE */
    .home-about-section {
        padding: 10px;
    }
    .home-about-section h4 {
        margin-top: 15px;
        font-size: 2em;
    }
    .home-about-section p {
        padding: 15px;
        margin-left: -30px;
        width: 300px;
        font-size: 1em;
        color: #333333;
    }
    /* SEÇÃO TIME */
    .home-team-section h3 {
        font-size: 1em;
        margin: 10px;
    }
    #logo_banner {
        width: 110px;
        margin: 10px;
    }
    .home-team-section p {
        font-size: 1em;
        margin: 5px;
    }
}