.menu-log {
    background-color: #007592;
}

.logo-menu-log {
    width: 50px;
}

.menu-log-title {
    margin-left: 20px;
    font-weight: bold;
}


/* SEÇÃO MENU */


/* DROWPDOWN MENU */

.links-drop-menu {
    margin-right: 20px;
}

.links-drop-menu a {
    text-decoration: none;
}

.avatar-menu-log {
    width: 40px;
    height: 40px;
    margin-top: -10px;
}

.avatar-menu-log:hover {
    border: 2px solid #FCDA73;
}

.drop-arrow-menu {
    color: #FCDA73;
}

.drop-arrow-menu:hover {
    color: #fff;
}

.menulog-links {
    border: none;
    background-color: #007592;
}

.menulog-links a {
    color: #FCDA73;
}

.menulog-links a:hover {
    color: #007592;
    font-weight: bold;
    background-color: #FCDA73;
}

.nav-log {
    overflow: auto;
    max-height: 75vh;
}

.fa-bell {
    margin-top: 5px;
    margin-left: -10px;
    color: #fff;
}

.fa-bell:hover {
    color: #FCDA73;
}

.fa-circle {
    margin-top: 2px;
    margin-left: -10px;
    color: #FCDA73;
}

.user-name {
    color: #007592;
}

.see-more-log {
    font-weight: bold;
    color: #FCDA73;
}

.see-more-log:hover {
    font-weight: bold;
    color: #007592;
}


/* SEÇÃO PESQUISA */

.search-btn-log {
    background-color: #FCDA73;
    color: #fff;
    font-weight: bold;
}

.search-btn-log:hover {
    color: #007592;
}


/* SEÇÃO SAIR */

.logout-menu span {
    color: #fff;
    font-weight: bold;
    cursor: pointer;
}

.logout-menu span:hover {
    color: #FCDA73;
}

.fa-sign-out {
    color: #fff;
}


/* SEÇÃO MODAL CONFIRMAR SAIR */

.title-modal {
    color: #007592;
    font-weight: bold;
}

.logout-text {
    color: #8b8b8b;
}

.logout-cancel {
    background-color: #007592;
    font-weight: bold;
    color: #fff;
    margin-left: 20px;
}

.logout-cancel:hover {
    background-color: #FCDA73;
    font-weight: bold;
    color: #007592;
}

.logout-btn {
    font-weight: bold;
    background-color: #838383;
    color: #fff;
}

.logout-btn:hover {
    font-weight: bold;
    background-color: #007592;
    color: #fff;
}

.menulog-components>.nav-item.dropdown>.nav-link {
    position: relative;
    min-width: 45px;
}

.menulog-components>.nav-item.dropdown>.nav-link:after {
    float: right;
    width: auto;
    content: '\f105';
    border: none;
    font-family: 'FontAwesome';
}

.menulog-components>.nav-item.dropdown>.nav-link .indicator {
    position: absolute;
    top: 5px;
    left: 21px;
    font-size: 10px;
}

.menulog-components>.nav-item.dropdown.show>.nav-link:after {
    content: '\f107';
}

.menulog-components>.nav-item.dropdown .dropdown-menu>.dropdown-item>.dropdown-message {
    overflow: hidden;
    max-width: none;
    text-overflow: ellipsis;
}


/* ÁREA RESPONSIVA */

@media (max-width: 992px) {
    .links-drop-menu {
        display: none;
    }
    .menu-log-title {
        font-size: 1em;
    }
    .titulo-not-mobile-menulog {
        color: #FCDA73;
        font-size: 0.9em;
    }
    .not-badge-mobile {
        background-color: #FCDA73;
    }
    .not-badge-mobile:hover {
        color: #007592;
    }
    .menulog-links {
        justify-content: center;
        background-color: #fff;
    }
    .menulog-links a {
        color: #007592;
    }
}

@media (min-width: 992px) {
    .menu-log .navbar-collapse {
        overflow: visible;
        max-height: none;
    }
    .menu-log .navbar-collapse .navbar-nav>.nav-item.dropdown .dropdown-menu>.dropdown-item>.dropdown-message {
        max-width: 300px;
    }
}