header {
    background-color: #007592;
}


/* LOGO E TÍTULO QUEM INDICA */

.admin-nav-logo img {
    width: 50px;
}

.admin-qi-title {
    color: #FCDA73;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 1em;
}

.admin-qi-title:hover,
.navbar-dark-admin:hover,
.navbar-brand-admin:hover {
    text-decoration: none;
    color: #fff;
}


/* BOTÃO LOGIN E REGISTRAR */

.btn-yellow-admin {
    background-color: #007592;
    color: #FCDA73;
    border: 1px solid #FCDA73;
    border-radius: 5px;
    padding: 8px 24px;
    font-size: 0.8em;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    text-transform: uppercase;
}

.btn-yellow-admin:hover {
    background-color: #FCDA73;
    color: #007592;
}

.btn-yellow-admin:focus {
    outline: none;
}


/* DROWPDOWN MENU */

.avatar-menu-off-admin {
    width: 40px;
    height: 40px;
}

.avatar-menu-off-admin:hover {
    border: 2px solid #FCDA73;
}

.drop-menuoff-admin {
    color: #FCDA73;
}

.drop-menuoff-admin:hover {
    color: #fff;
}

.menu-links-menuoff-admin {
    /* border: none; */
    background-color: #007592;
    border: 1px solid #FCDA73;
}

.menu-links-menuoff-admin a {
    color: #FCDA73;
}

.menu-links-menuoff-admin a:hover {
    color: #007592;
    font-weight: bold;
    background-color: #FCDA73;
}