header {
    background-color: #007592;
}


/* LOGO E TÍTULO QUEM INDICA */

.logo-nav-admin img {
    width: 60px;
}

.qi-title-admin {
    color: #FCDA73;
    font-weight: bold;
    text-transform: uppercase;
}

.qi-title-admin:hover,
.navbar-dark,
.navbar-brand {
    color: #FCDA73 !important;
}


/* BOTÃO LOGIN E REGISTRAR */

.btn-yellow-admin {
    background-color: #007592;
    color: #FCDA73;
    border: 1px solid #FCDA73;
    border-radius: 5px;
    padding: 8px 24px;
    font-size: 0.8em;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    text-transform: uppercase;
}

.btn-yellow-admin:hover {
    background-color: #FCDA73;
    color: #007592;
}

.btn-yellow-admin:focus {
    outline: none;
}


/* DROWPDOWN MENU */

.avatar-menu-admin {
    width: 40px;
    height: 40px;
}

.avatar-menu-admin:hover {
    border: 2px solid #FCDA73;
}

.drop-menuoff {
    color: #FCDA73;
}

.drop-menuoff:hover {
    color: #fff;
}

.links-menuoff {
    /* border: none; */
    background-color: #007592;
    border: 1px solid #FCDA73;
}

.links-menuoff a {
    color: #FCDA73;
}

.links-menuoff a:hover {
    color: #007592;
    font-weight: bold;
    background-color: #FCDA73;
}

@media (max-width: 991px) {
    /* BOTÃO SUPORTE */
    .support-btn {
        cursor: pointer;
        justify-content: left;
        text-align: left;
    }
}